name: UI CI/CD

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'ui/**'
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check function.
        run: |
          ls
          cd ui
          ls
