name: UI CI/CD

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'ui/**'
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Enter UI project
        run: cd ui

      - name: Run linter
        run: npm run lint

      - name: Run tests
        run: npm run test

      - name: Update release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release@25 --internal ui/release.config.js
        
