name: UI CI/CD

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'ui/**'
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v2
        with:
          node-version: '24'

      - name: Install dependencies
        run: cd ui && npm install

      - name: Run linter
        run: cd ui && npm run lint

      - name: Run tests
        run: cd ui && npm run test

      - name: Update release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cd ui && npx semantic-release@25 --internal ui/release.config.js

